# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

myenv
**.sqlite
**/__pycache__/

# Docker
/docker/SSH/data/
*.pub
*.key
id_ed*
/docker/SSH/config

# Backend
backend/ttnn_visualizer/data
backend/ttnn_visualizer/static
/backend/data/*
backend/*egg-info
build
.env


sessions.db
