// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.
@use '../definitions/colours' as *;

.buffer-summary-row {
    flex-basis: 100%;
    height: 20px;
    position: relative;
    flex-shrink: 1;

    .buffer-data {
        height: 100%;
        position: absolute;
        top: 0;
    }
}
