// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use 'sass:color';
@use '../definitions/colours' as *;

$row-background: $tt-grey-2;

.buffer-table {
    th {
        width: 160px;
    }

    .deallocation-icon {
        margin-left: 5px;
    }

    .break-word {
        word-break: break-word;
    }
}
