// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use '../definitions/colours' as *;

.buffer-table {
    width: 100%;

    th {
        width: 160px;
    }
}

.analysis-table {
    margin-bottom: 20px;
    background-color: $tt-grey-3;

    .deallocation-icon {
        margin-left: 5px;
    }
}
