// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC
@use '../definitions/colours' as *;

.buffer-summary {
    position: relative;

    .sticky-nav {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: $tt-background;
        padding: 5px 0;
        align-items: center;

        .device-selector {
            display: inline-flex;
            flex-grow: 0;
            margin-left: 10px;
        }
    }
}
