.buffer-summary-table {
    display: inline-flex;
    height: 600px;

    .operation-cell {
        display: flex;
        align-items: center;
        gap: 5px;

        .memory-color-block {
            width: 12px;
            height: 12px;
        }
    }
}
