// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

.buffer-summary-controls {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: flex-start;
}
