// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

.buffer-table {
    td, th {
        padding: 5px 10px;
    }

    .deallocation-status {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
