// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.graph-component {
    position: relative;

    .graph {
        width: 80vw;
        height: 80vh;
    }

    .graph-tooltip {
        position: absolute;
        display: none;
        top: 0;
        padding: 10px;
        background-color: $tt-white;
        border: 1px solid $tt-grey-6;
        border-radius: 2px;
        box-shadow: rgb(0 0 0 / 20%) 0 4px 8px;
        pointer-events: none;
        z-index: 10;
        color: rgb(32 32 32);
        flex-direction: column;

        &.visible {
            display: inline-flex;
        }
    }
}
