// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.device-operations-full-render-wrap {
    .peak-load {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $tt-grey-4;
        font-weight: normal;
    }
}

.device-operation-label {
    .operation-arrow {
        font-size: 12px;
        padding-top: 1px;
    }

    &.failed-op-analysis {
        background-color: rgba($tt-yellow-accent, 0.2);
    }
}

.tensor-details-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 1px;
    font-size: 14px;

    .memory-color-block {
        width: 11px;
        height: 11px;
    }

    .has-tooltip {
        border-bottom-color: $tt-teal;
        border-bottom-width: 2px;
        padding-bottom: 1px;
        margin-top: 2px;
    }
}

.arg-tensor-tooltip {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-direction: column;

    .buffer-details {
        display: flex;
        align-items: center;
        gap: 5px;

        .address {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.device-operations-full-render {
    position: relative;

    // Debugging class
    .device-id {
        color: #ff8c00;
        font-weight: lighter;
        font-size: 12px;
    }

    .device-operation {
        margin-bottom: 10px;

        hr {
            opacity: 0.2;
            padding-top: 5px;
        }

        .function-container {
            padding-left: 20px;
            margin-top: 10px;
        }

        /* stylelint-disable selector-class-pattern */
        .title {
            &.node-type-buffer_allocate,
            &.node-type-buffer_deallocate {
                margin-bottom: 10px;
            }
        }

        /* stylelint-enable selector-class-pattern */

        .collapsible-controls {
            h4 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .collapsible-label-wrap {
            display: inline-flex;
            padding-right: 8px;

            // padding-left: 8px;
        }

        .params {
            font-weight: lighter;

            &:empty {
                display: none;
            }
        }
    }

    .end-function {
        padding-top: 10px;

        &:empty {
            display: none;
        }
    }

    .function-content {
        padding-left: 30px;
    }

    .memory-info {
        width: 320px;
        display: inline-grid;
        gap: 10px;
        font-weight: lighter;
        position: absolute;
        right: 0;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 5px;

        &.peak {
            border: 1px solid rgb(207 255 90 / 50%);
        }
    }
}
