// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

.zoomed-dram-plots {
    display: flex;
    gap: 10px;

    > .dram-memory-renderer {
        flex: 1 1 50%;

        > .memory-plot {
            width: auto;
            margin-right: 0;

            &.js-plotly-plot {
                .xaxislayer-above {
                    // Fixes the issue where the last x-axis tick is not visible (thanks Plotly)
                    // This can be removed if we're aiming for more than just showing the first and last tick
                    .xtick:last-child text {
                        /* stylelint-disable-next-line declaration-no-important */
                        opacity: 1 !important; // Need this to overwrite inline style
                        text-anchor: end;
                    }
                }
            }
        }
    }
}
