// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.
.expandable-tensor {
    .expandable-tensor-tools {
        margin-bottom: 10px;
        top: 0;
        background-color: inherit;

        .expand-button {
            font-weight: 700;
        }
    }

    .collapsed-tensor {
        white-space: preserve-breaks;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1em;
    }

    .full-tensor {
        margin-top: 20px;
        margin-bottom: 20px;
        white-space: preserve-breaks;
    }
}
