// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.
.expandable-tensor {
    position: relative;
    background-color: inherit;

    .expandable-tensor-tools {
        padding-bottom: 10px;
        position: sticky;
        top: 0;
        background-color: inherit;

        .expand-button {
            font-weight: 700;
        }
    }
}
