// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;
@use '../definitions/variables' as variables;
@use '../mixins/formLayout' as form-layout;

$folder-text-size: 15px;

// The select component
.folder-picker {
    > .bp6-popover-target {
        min-width: 243px;
    }

    .folder-picker-button {
        width: variables.$report-select-width;

        .bp6-button-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

// Each item in the dropdown
.folder-picker-menu-item {
    @include form-layout.select-menu-item-actions;

    font-size: $folder-text-size;

    .folder-picker-sub-label {
        display: block;
        font-size: 11px;
        line-height: 1.1;
        color: $tt-grey-5;
    }

    .folder-link-status-unknown {
        opacity: 0.2;
    }
}
