// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

// The select component
.folder-picker {
    > .bp5-popover-target {
        min-width: 243px;
    }

    .folder-picker-button {
        .bp5-button-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

// Each item in the dropdown
.folder-picker-menu-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .bp5-menu-item {
        padding-left: 7px;
    }

    > li {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .folder-picker-label {
        max-width: 145px;
    }

    .folder-picker-name-label {
        max-width: 145px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
