// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    background-color: rgba($tt-black, 0.9);
    padding: 5px 15px;
    min-height: 34px; // Closed height

    &.is-open {
        gap: 5px;
    }

    .active-reports {
        display: flex;
        flex-grow: 1;
        gap: 10px;
        margin-right: 10px;
    }

    .version-container {
        display: flex;
        align-items: center;
        border-right: 1px solid $tt-grey-5;
    }

    .slider-controls {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .current-range {
        display: inline-block;
        text-align: right;
    }

    .current-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .title {
        display: flex;
        gap: 5px;

        .report-name {
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }
    }

    .no-sync-status-icon {
        color: $tt-grey-5;
        opacity: 0.4;
    }
}
