// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use 'styles/definitions/colours' as *;

.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;

    .highlighted-text {
        color: $tt-white;
        font-size: 20px;

        mark {
            background-color: $tt-yellow;
        }
    }
}
