// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use 'styles/definitions/navigation' as navigation;
@use 'styles/definitions/variables' as variables;

.navbar {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;

    .bp6-navbar-group {
        gap: 3px; // avoids focus ring overlap
    }

    .bp6-button {
        @include navigation.nav-button-styles;
    }

    @media screen and (width <= #{variables.$bp-nav-large}) {
        .bp6-button-text {
            font-size: 13px;
        }

        .bp6-button {
            padding-left: 10px;
            padding-right: 10px;
        }

        .bp6-icon {
            margin-right: 8px;
        }
    }

    @media screen and (width <= #{variables.$bp-nav-medium}) {
        .bp6-button-text {
            display: none;
        }

        .bp6-icon {
            margin-right: 0;
        }
    }
}
