// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use 'styles/definitions/colours' as *;

@mixin button-styles($color, $colorActive, $icon) {
    color: $color;

    .bp5-icon.bp5-icon-#{$icon} {
        color: $color;
    }

    &.bp5-outlined:not([disabled]) {
        border-color: $color;

        &:hover {
            color: $color;
        }
    }

    &.bp5-minimal:not([disabled]) {
        &:hover {
            background-color: rgba($color, 0.2);
            color: $color;
        }

        &.bp5-active {
            color: $colorActive;
            background-color: rgba($color, 0.3);

            .bp5-icon.bp5-icon-#{$icon} {
                color: $colorActive;
            }
        }
    }
}

.navbar {
    width: auto;
    padding-left: 0;
    padding-right: 0;

    .bp5-navbar-group {
        gap: 3px; // avoids focus ring overlap
    }

    .bp5-button {
        position: relative;

        &.reports-button {
            @include button-styles($tt-reports, $tt-reports-active, 'document-open');
        }

        &.operations-button {
            @include button-styles($tt-operations, $tt-operations-active, 'cube');
        }

        &.tensors-button {
            @include button-styles($tt-tensors, $tt-tensors-active, 'flow-linear');
        }

        &.buffers-button {
            @include button-styles($tt-buffers, $tt-buffers-active, 'small-square');
        }

        &.graph-button {
            @include button-styles($tt-graph, $tt-graph-active, 'graph');
        }

        &.performance-button {
            @include button-styles($tt-performance, $tt-performance-active, 'lightning');
        }

        &.npe-button {
            @include button-styles($tt-npe, $tt-npe-active, 'random');
        }

        &.cluster-button {
            @include button-styles($tt-cluster, $tt-cluster-active, 'layout-grid');
        }

        &.modal {
            &.bp5-active {
                cursor: default;
                pointer-events: none;
            }
        }

        small {
            font-size: 11px;
            position: absolute;
            border-radius: 4px;
            padding-left: 4px;
            padding-right: 4px;
            background-color: $tt-grey-2;
            right: 0;
            top: 0;
        }
    }

    .server-mode-banner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 25px;
        color: $tt-white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 300ms ease-out 50ms;
        gap: 7px;
    }
}
