// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.grouped-legend-elements {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.legend-item {
    display: grid;
    gap: 5px;
    grid-template-columns: 20px 1fr;
    height: 18px;
    align-content: center;
    align-items: center;
    padding: 0;

    &.button {
        font-size: inherit;

        &:focus {
            .legend-details {
                background-color: $tt-bg-highlight;
            }
        }

        &:hover {
            .legend-details {
                background-color: rgba($tt-bg-highlight, 0.5);
            }
        }
    }

    &.dimmed {
        opacity: 0.4;
    }

    &.active {
        .legend-details {
            background-color: $tt-bg-highlight;
        }
    }

    &.multi-device-buffer {
        width: 100%;
        margin-left: 10px;
    }

    &.is-collapsible {
        grid-template-columns: 20px 1fr 24px;
    }

    .legend-details {
        display: inline-grid;
        grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 2fr;
        gap: 15px;
        text-align: left;

        &.extra-info {
            grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 2fr;
        }

        &.shape-info {
            grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 2fr;
        }

        &.is-group-header {
            grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 2fr 0.2fr;
        }

        &.extra-info.shape-info {
            grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 1.5fr 3fr;
        }
    }

    .legend-text {
        font-size: 0.875rem;
    }

    .collapse-toggle {
        min-height: 0;
    }
}

.format-numbers {
    text-align: right;

    &.keep-left {
        text-align: left;
    }
}
