// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.legend-element-container {
    display: flex;
    align-items: center;
    gap: 5px;

    .bp5-button.bp5-small {
        height: auto;
        min-height: 0;
    }
}

.grouped-legend-elements {
    margin-top: -3px;
}

.legend-item {
    display: grid;
    gap: 5px;
    grid-template-columns: 20px 1fr;
    height: 18px;
    align-content: center;
    align-items: center;
    padding: 0;

    &.button {
        font-size: inherit;

        &:focus,
        &:hover {
            .legend-details {
                background-color: rgba($tt-bg-highlight, 0.5);
            }
        }
    }

    &.dimmed {
        opacity: 0.4;
    }

    &.active {
        background-color: $tt-bg-highlight;
    }

    .legend-details {
        display: inline-grid;
        grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 2fr;
        gap: 15px;
        text-align: left;

        // &.extra-info {
        //     grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 2fr;
        // }

        // &.shape-info {
        //     grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 2fr;
        // }

        &.extra-info.shape-info {
            grid-template-columns: 0.5fr 0.5fr 0.6fr 4fr 1.5fr 3fr;
        }
    }

    .legend-text {
        font-size: 0.875rem;
    }
}

.format-numbers {
    text-align: right;

    &.keep-left {
        text-align: left;
    }
}
