// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.group-header {
    display: inline-flex;

    .details {
        flex-grow: 1;
    }

    .collapse-toggle {
        min-height: 0;
        align-items: flex-start;
    }
}

.grouped-legend-elements {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.legend-item {
    display: inline-grid;
    grid-template-columns: 15px 0.2fr 0.2fr 0.2fr 7fr 3fr;
    column-gap: 15px;
    text-align: left;

    &.extra-info {
        grid-template-columns: 15px 0.2fr 0.2fr 0.2fr 6fr 3fr 3fr;
    }

    &.button {
        &:focus {
            background-color: $tt-bg-highlight;
        }

        &:hover {
            background-color: rgba($tt-bg-highlight, 0.5);
        }
    }

    &.dimmed {
        opacity: 0.4;
    }

    &.active {
        background-color: $tt-bg-highlight;
    }

    .legend-text {
        font-size: 0.875rem;
    }

    .format-numbers {
        text-align: right;

        &.keep-left {
            text-align: left;
        }
    }
}
