// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2026 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.mlir-expand-collapse-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .bp6-button {
        font-size: 11px;
        line-height: 1.2;
    }
}

.mlir-layout-status {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 4px;
    font-size: 11px;
    line-height: 1.2;
    color: $tt-grey-6;
    white-space: nowrap;
}
