// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;

/* stylelint-disable selector-class-pattern */
.react-flow__edge-textwrapper {
    .react-flow__edge-textbg {
        fill: transparent;
    }
}

.react-flow__edge-text {
    fill: $tt-grey-7;
    font-size: 10px;
    font-family: monospace;
    opacity: 0.8;
}

.react-flow__node-default {
    color: #222;
}
/* stylelint-enable selector-class-pattern */
