// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC
@use '../definitions/colours' as *;

.npe {
    $highlight-src: #ff0;
    $highlight-dst: #ff4500;

    .color-squares {
        width: 10px;
        height: 10px;
    }

    .split-grid {
        display: flex;
        gap: 10px;
    }

    .metadata {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
        border-bottom: 1px solid $tt-slate;
        position: absolute;
        right: 0;
        top: 220px;
        gap: 5px;

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .side-data {
        h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h4 {
            margin-bottom: 5px;
        }

        .local-transfer-ctn {
            margin-bottom: 20px;
        }

        .local-transfer {
            display: flex;
            gap: 5px;
            align-content: center;
            align-items: center;
            padding: 5px;
            margin: 2px;
            transition: opacity 0.2s;
            cursor: pointer;
        }

        .transfer-src {
            border: 1px solid $highlight-src;
        }

        .transfer-dst {
            border: 1px solid $highlight-dst;
        }
    }

    button.timestep {
        font-size: 10px;
        padding: 2px;
        min-width: 10px;
        min-height: 10px;
    }

    .chip {
        margin: 20px;
        position: relative;
    }

    .tensix-grid {
        &.empty {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }

        &.transfers,
        &.transfer-single {
            position: absolute;
            top: 0;
            left: 0;
            display: grid;
        }

        &.transfer-single {
            z-index: 1;
        }

        display: grid;
        gap: 1px;

        .tensix {
            display: flex;
            flex-direction: column;
            border: 1px solid transparent;
            z-index: 1;
            cursor: pointer;
            overflow: hidden;
            position: relative;

            &:hover {
                transition: border-color 50ms linear;
                border-color: $tt-yellow-tint-2;
            }

            &.active {
                border-color: $tt-tensix-active;
            }

            &.empty-tensix {
                border: 1px solid $tt-black;
                position: relative;
            }

            &.no-click {
                border: 1px solid transparent;
                pointer-events: none;

                &:hover {
                    border: 1px solid $tt-yellow-tint-2;
                }
            }

            .transfer-render-ctn {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &.selected {
                border-color: $tt-yellow-tint-2;
                margin: 2px;

                .transfer-render-ctn {
                    inset: -2px;
                }
            }

            .src-dst {
                position: relative;
            }

            &.src {
                border: 1px solid $highlight-src;
                inset: 1px;
            }

            &.dst {
                border: 1px solid $highlight-dst;
                inset: 1px;
            }

            &.both {
                $dash-size: 10deg;

                inset: 1px;
                border: 1px solid transparent;
                border-image: repeating-conic-gradient(
                        $highlight-src 0deg,
                        $highlight-src $dash-size,
                        $highlight-dst $dash-size,
                        $highlight-dst calc(2 * $dash-size)
                    )
                    1;
            }
        }
    }

    .node-type-d {
        fill: $c-dram;
        background-color: $c-dram;
    }

    .node-type-c {
        fill: $c-core;
        background-color: $c-core;
    }

    .node-type-r {
        fill: $c-router;
        background-color: $c-router;
    }

    .node-type-e {
        fill: $c-eth;
        background-color: $c-eth;
    }

    .node-type-p {
        fill: $c-pcix;
        background-color: $c-pcix;
    }

    .node-type {
        border-bottom: 2px solid transparent;
    }

    .node-type-label {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        right: 0;
        color: $tt-grey-2;
        font-size: 11px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
