// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

.npe-file-loader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;

    .form-header {
        font-weight: 700;
        margin: 0;
    }

    .verify-connection-item {
        margin-top: 5px;
    }
}
