// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.npe-file-loader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;

    .form-header {
        font-weight: 700;
        margin: 0;
    }

    .form-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .folder-upload-status {
        display: inline-flex;
        gap: 2px;
        flex-basis: 100%;

        .message {
            line-height: 1.4;
        }
    }
}
