// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.bp5-button-text:has(.path-label) {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.folder-picker-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: stretch;

    fieldset {
        position: relative;
        border: solid 1px $tt-grey-5;
        border-radius: 5px;
        padding: 5px 20px 20px;
        display: flex;
        gap: 20px;
        align-items: start;
        justify-content: stretch;
        min-height: fit-content;
        flex-basis: 45%;
        flex-grow: 0;
        max-width: 550px;

        & > .bp5-icon {
            color: $tt-grey-4;
        }

        .folder-picker-wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .buttons-container {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        .remote-connection-select .bp5-button-text,
        .remote-folder-select .bp5-button-text {
            width: 8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .bp5-form-group-sub-label {
            color: $tt-grey-7;
        }

        .feature-disabled {
            position: absolute;
            inset: -10px;
            top: -40px;
            background: rgb(52 52 52 / 90%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;

            .callout {
                a {
                    white-space: pre;
                }
            }
        }
    }

    legend {
        font-size: 30px;
        padding: 0 10px;
    }
}

.loading-error {
    color: #ff5020;
    width: 50%;
    margin: auto;
    background: #400610;
    word-wrap: break-word;
    padding: 10px;
}

.remote-folder-item {
    align-items: center;

    .test-name {
        margin-right: 8px;
    }

    .remote-folder-status-icon {
        display: contents;

        .status-icon {
            margin-left: 5px;
        }
    }
}

.path-label {
    max-width: clamp(150px, 15vw, 250px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
}
