// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use 'styles/definitions/colours' as *;

.operation-component {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;

    .operation-icon.bp5-icon svg {
        fill: $tt-yellow
    }

    .highlighted-text {
        color: $tt-white;
        font-size: 20px;
    }
}
