// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use 'styles/definitions/colours' as *;
@use 'styles/definitions/variables' as variables;

.operations-list-component {
    .device-operations-list {
        font-size: 11px;
        padding-left: 12px;
        list-style: none;
        margin-top: 0;
    }
}
