// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use '../definitions/colours' as *;

.operation-details-component {
    .chart-controls {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;

        .bp5-control {
            margin-bottom: 0;
        }
    }

    .controls {
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .circular-buffers-plot-title {
        display: inline-flex;
        align-items: center;
        color: $tt-green;
        margin-bottom: -5px;
        font-weight: normal;

        .bp5-icon {
            margin-right: 5px;
        }
    }

    .device-operations {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .device-operation-name {
        margin-bottom: 4px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .legend {
        display: inline-flex;
        place-content: center space-between;
        margin-bottom: 20px;
        flex-direction: column;
        row-gap: 3px;

        &.nested-legend {
            padding-left: 18px;
        }

        &.lengthy-legend {
            height: 410px;
            overflow-y: scroll;
        }

        h4 {
            margin: 0;
        }
    }

    .plot-title {
        font-weight: 500;
        margin-bottom: -14px;
        margin-top: 0;
    }

    .plot-instructions {
        margin-top: -25px;
        margin-bottom: 20px;
        text-align: right;
        padding-right: 5px;
        padding-left: 5px;

        &.hidden {
            display: none;
        }
    }

    .plot-instructions-floating {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: $tt-white;
        color: $tt-black;
        padding: 10px;

        &.hidden {
            display: none;
        }
    }

    .not-found-message {
        font-size: 20px;
        margin-top: 10px;
    }

    .arguments-wrapper {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .no-buffer-type-selected {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .deallocate-msg {
        margin-top: -18px;
        padding-left: 18px;
    }
}
