// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use '../definitions/colours' as *;

$loader-width: 32px;

.operation-details-navigation {
    position: relative;
    display: inline-block;
    padding-right: $loader-width;

    .button-group {
        gap: 10px;
    }

    .title {
        margin: 0;
        line-height: 1.4;
    }
}

.operation-details-loader {
    position: absolute;
    top: -25px; // Height is not uniform so need to adjust to a different value than $loader-width
    right: -$loader-width;
    scale: 0.5;

    .loading-spinner {
        color: $tt-medium-light-gray;
    }
}
