// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use 'styles/definitions/colours' as *;
@use 'styles/definitions/variables' as variables;

.operation-graph-component {
    .operation-graph-container {
        width: 100%;
        height: calc(100vh - 125px);
    }

    .operation-graph-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        z-index: 1;
        position: fixed;
        background-color: rgba($tt-grey-2, 0.6);
    }

    .operation-graph-nav {
        display: inline-flex;
        place-content: center space-between;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        max-width: calc(100vw - 350px);
        justify-content: flex-start;

        .bp6-control {
            margin-bottom: 0;
        }
    }

    .slider-wrapper {
        width: 250px;
        padding-left: 5px;

        .bp6-label {
            margin-bottom: 5px;
        }
    }

    .aside {
        position: fixed;
        bottom: 45px;
    }

    .operation-graph-props {
        position: fixed;
        z-index: 1;
        width: 450px;
        height: calc(100% - 80px - 15px - 28px);
        right: 0;
        background-color: rgba($tt-grey-2, 0.9);
        overflow: auto;
        padding-left: 20px;

        .operation-name {
            font-size: 17px;
        }

        > h3 {
            background-color: $tt-grey-4;
            padding: 5px;
            font-size: 16px;
        }

        .device-operation-list {
            font-size: 11px;
            padding-left: 12px;
            list-style: none;
            margin-top: 0;
        }

        .tensors {
            display: flex;
            flex-direction: column;
            gap: 40px;

            h3 {
                margin: 0;
                margin-bottom: 2px;
            }

            .tensor-details {
                border-left: 3px solid transparent;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .tensor-header {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }

                > table {
                    margin-left: 7px;
                }

                > div {
                    margin-left: 15px;
                }
            }

            &.inputs {
                .tensor-details {
                    border-left-color: var(--graph-input-edge);
                }
            }

            &.outputs {
                .tensor-details {
                    border-left-color: var(--graph-output-edge);
                }
            }
        }

        @media screen and (width <= #{variables.$bp-large}) {
            width: 350px;

            .tensors {
                .tensor-details {
                    > table {
                        tr {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
    }
}
