// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use '../definitions/colours' as *;

.dram-memory-renderer,
.l1-memory-renderer {
    .memory-plot {
        width: 100%;
        margin-right: 10px;

        &.js-plotly-plot {
            .plotly .main-svg {
                left: -8px;
            }

            &.show-hex {
                .plotly .main-svg {
                    left: -16px;
                }
            }
        }
    }

    &.circular-buffers {
        margin-bottom: 5px;
    }

    &.identical-plot {
        .memory-plot {
            opacity: 0.5;
        }
    }

    &.empty-plot {
        opacity: 0.4;
    }

    .plot-title {
        font-weight: 500;
        margin-bottom: -14px;
        margin-top: 0;
    }
}

.operation-details-component {
    .outside-click {
        background-color: rgb(255 0 0 / 47%);
        opacity: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 0;
    }

    .chart-controls {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;

        .bp5-control {
            margin-bottom: 0;
        }
    }

    .zoom-controls {
        margin-bottom: 0;
    }

    .dram-memory-renderer {
        margin-bottom: 10px;
    }

    .circular-buffers-plot-title {
        display: inline-flex;
        align-items: center;
        color: $tt-green;
        margin-bottom: -5px;
        font-weight: normal;

        .bp5-icon {
            margin-right: 5px;
        }
    }

    .plot-tensor-details {
        display: inline-grid;
        grid-template-columns: 1fr auto;
        align-items: start;
        gap: 25px;
        position: relative;
    }

    .producer-consumer {
        &.hidden {
            display: none;
        }

        .title {
            font-size: 18px;
            display: inline-flex;
            align-items: center;
            gap: 8px;

            &.hidden {
                display: none;
            }
        }

        .operation-link {
            margin-left: #{14px + 8px}; // icon width + gap
            margin-bottom: 3px;
        }
    }

    .device-operations {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .device-operation-name {
        margin-bottom: 4px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .legend {
        display: inline-flex;
        place-content: center space-between;
        margin-bottom: 20px;
        flex-direction: column;
        row-gap: 3px;

        &.nested-legend {
            padding-left: 18px;
        }

        &.lengthy-legend {
            height: 410px;
            overflow-y: scroll;
        }

        h4 {
            margin: 0;
        }

        .legend-item {
            display: inline-grid;
            gap: 5px;
            grid-template-columns: 20px 1fr;
            height: 18px;
            align-content: center;
            align-items: center;
            padding: 0;

            &.button {
                font-size: inherit;

                &:focus,
                &:hover {
                    .legend-details {
                        .format-numbers:first-child {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.dimmed {
                opacity: 0.4;
            }

            .legend-details {
                display: inline-grid;
                grid-template-columns: 0.7fr 1.2fr 0.75fr 1fr;
                gap: 15px;
                text-align: left;

                &.extra-info {
                    grid-template-columns: 0.7fr 1.2fr 0.75fr 1fr 2fr;
                }

                .format-numbers {
                    text-align: right;

                    &.keep-left {
                        text-align: left;
                    }
                }
            }

            .legend-text {
                font-size: 0.875rem;
            }
        }
    }

    .tensor-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .plot-title {
        font-weight: 500;
        margin-bottom: -14px;
        margin-top: 0;
    }

    .plot-instructions {
        margin-top: -25px;
        margin-bottom: 20px;
        text-align: right;
        padding-right: 5px;
        padding-left: 5px;

        &.hidden {
            display: none;
        }
    }

    .plot-instructions-floating {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: $tt-white;
        color: $tt-black;
        padding: 10px;

        &.hidden {
            display: none;
        }
    }

    .not-found-message {
        font-size: 20px;
        margin-top: 10px;
    }

    .arguments-wrapper {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .no-buffer-type-selected {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .deallocate-msg {
        margin-top: -18px;
        padding-left: 18px;
    }
}
