// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@use 'sass:color';
@use '../definitions/colours' as *;

$list-color: $tt-purple-shade;
$border-radius: 2px;
$icon-gap: 8px;

.op-code-menu-container {
    position: sticky;
    top: 20px;
    left: 0;
    width: 250px;
    align-self: start;

    .op-code-menu {
        display: flex;
        flex-direction: column;
        background-color: color.adjust($list-color, $lightness: 0%);
        border-radius: $border-radius;
        box-shadow: 6px 6px 8px 0 rgb(0 0 0 / 25%);
        max-height: calc(100vh - 70px); // Need to save some space for the footer bar
        overflow-y: auto;

        .header {
            background-color: color.adjust($list-color, $lightness: 0%);
            margin-bottom: 0;
            padding: 8px 16px;
        }

        .footer {
            background-color: color.adjust($list-color, $lightness: 0%);
        }

        .option {
            display: flex;
            justify-content: space-between;
            gap: 8px;
            padding: 8px 16px 0;

            &:nth-child(odd) {
                background-color: color.adjust($list-color, $lightness: -5%);
            }

            &:nth-child(even) {
                background-color: color.adjust($list-color, $lightness: -10%);
            }

            &.select-all {
                background-color: color.adjust($list-color, $lightness: -20%);
            }
        }
    }

    .woof {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;

        > .label {
            max-width: 175px; // Adjust value if we change the width of .op-code-menu-container
            text-overflow: ellipsis;
            overflow: hidden;
            flex-grow: 1;
        }
    }
}
