// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@use '../definitions/variables' as *;
@use '../mixins/perfReportColours' as perf;

.perf-report {
    background: #222;
    color: #fff;
    padding: 1rem;

    .op-tooltip {
        font-family: $base-font;
    }

    .perf-table {
        border-collapse: collapse;
        width: 100%;
    }

    .title {
        margin-top: 0;
    }

    .cell-header {
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid #555;
        padding-left: 5px;
    }

    .cell {
        border-bottom: 1px solid #333;
        padding: 0.25rem;

        &.align-right {
            text-align: right;
        }

        &.advice {
            border-bottom: none;
        }
    }

    @include perf.perf-report-colours;
}
