.performance {
    .button-container {
        margin-bottom: 20px;
    }

    .graph-tab {
        margin: auto;
        max-width: 750px;

        > div {
            margin-bottom: 60px;
        }
    }
}
