// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.chart-container {
    margin-bottom: 60px;
    height: 500px; // TEMP: Stops charts from collapsing on occasion

    .chart {
        width: 100%;
        height: 450px;
    }

    &.dummy-outline {
        outline: 1px dashed $tt-grey-4;
    }
}
