.perf-table {
    .grey {
        color: #888;
    }

    .red {
        color: #f00;
    }

    .green {
        color: #0f0;
    }

    .yellow {
        color: #ff0;
    }

    .blue {
        color: #00f;
    }

    .magenta {
        color: #f0f;
    }

    .cyan {
        color: #0ff;
    }

    .white {
        color: #fff;
    }
}
