// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/variables' as *;
@use '../definitions/colours' as colours;
@use '../mixins/perfReportColours' as perf;

$group-row-pattern: linear-gradient(90deg, transparent 50%, rgb(255 255 255 / 5%) 50%);

.perf-report {
    background: #222;
    color: #fff;
    padding: 1rem;
    min-width: 1240px;
    overflow: auto;

    .table-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .op-tooltip {
        font-family: $base-font;
    }

    .perf-table {
        border-collapse: collapse;
        width: 100%;
    }

    .title {
        margin-top: 0;
    }

    .header-aside {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
    }

    .result-count {
        margin-bottom: 0;
    }

    .filters {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        margin-bottom: 15px;
    }

    .cell-header {
        text-align: left;
        vertical-align: initial;
        border-bottom: 1px solid #555;

        .header-label {
            font-weight: 400;
            white-space: nowrap;
            display: block;

            &.no-button {
                height: 22px;
            }
        }

        .bp6-button {
            background-color: transparent;
            width: 100%;
            padding-left: 2px;
            padding-right: 2px;
        }

        .bp6-button-text {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
    }

    .sort-icon {
        opacity: 0.2;

        &.is-active {
            opacity: 1;
        }
    }

    tbody {
        tr {
            &.comparison-row {
                border-bottom: 1px solid colours.$tt-sand-accent;
                background-image: $group-row-pattern;
                background-size: 5px 5px;
            }
        }
    }

    .missing-data {
        background-color: colours.$tt-red-shade;
    }

    .cell {
        border-bottom: 1px solid #333;
        padding: 0.25rem;

        &.align-right {
            text-align: right;
        }

        &.advice {
            border-bottom: none;
        }
    }

    .error-message {
        display: inline-flex;
        justify-content: center;
        gap: 5px;
        color: colours.$tt-yellow;
    }

    @include perf.perf-report-colours;
}
