// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

.meta-data {
    display: flex;
    flex-direction: column;
    height: 46px;
    margin-bottom: 20px;
}
