// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

.operation-types-chart {
    margin-bottom: 20px;
    height: 500px; // TEMP: Stops charts from collapsing on occasion

    .chart {
        width: 100%;
        height: 450px;
    }
}
