// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use './PerfCharts' as perf-charts;

.operation-types-chart {
    margin-bottom: 20px;
    height: 500px; // TEMP: Stops charts from collapsing on occasion

    .chart {
        width: 100%;
        height: 450px;
    }

    &.perf-chart-clickable {
        @include perf-charts.perf-chart-table-filter-hint;

        .chart {
            cursor: pointer;
        }
    }
}
