// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

.progress-bar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .status {
        margin-top: 10px;
    }
}
