@use '../definitions/colours' as *;

.search-field {
    display: flex;

    .bp5-input-group {
        display: flex;
        align-items: center;
        min-width: 270px;

        .bp5-input-action {
            top: unset;

            > .bp5-icon {
                margin-right: 5px;

                svg {
                    fill: $tt-dark-gray;
                }
            }
        }
    }
}
