@use '../definitions/colours' as *;


.stack-trace {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    background: $tt-very-dark-gray;
    align-items: flex-start;
    gap: 10px;
    margin-top: 0;

    .code-wrapper {
        flex-basis: 85%;
        flex-shrink: 1;
        padding: 6px 0
    }

    .code-output {
        text-wrap: balance;

        .hljs-string {
            .file-explorer {
                text-decoration: underline;
                text-underline-offset: 3px;

                &:visited {
                    color: inherit;
                }

                &:hover,
                &:focus {
                    color: inherit;
                    background-color: transparent;
                    text-decoration: none;
                }
            }
        }
    }

    .is-sticky {
        position: sticky;
        top: 0;
        right: 0;
    }
}
