// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use '../definitions/colours' as *;

.tensor-item {
    display: inline-block;

    &.dimmed {
        opacity: 0.5;
    }

    &.active {
        outline: 2px solid $tt-bg-highlight;
        outline-offset: 10px;
    }

    .tensor-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        gap: 5px;
    }

    .tensor-name {
        display: inline-flex;
        align-items: center;
        color: $tt-white;
        gap: 8px;
        font-size: inherit;
        margin-top: 2px;

        h4 {
            margin: 0;
        }

        &:focus,
        &:hover {
            h4 {
                text-decoration: underline;
            }
        }
    }

    .tensor-meta {
        padding-left: 25px;
    }
}
