// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use 'styles/definitions/colours' as *;

.tensor-visualisation-loader {
    .loading-spinner {
        display: inline-flex;
        width: auto;
        height: 15px;
        zoom: 0.5;

        div {
            top: 0;
        }
    }
}

.tensor-visualisation-overlay {
    .bp5-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .tensor-visualisation {
        background-color: $tt-grey-4;

        .title {
            display: flex;
            justify-content: space-between;
            margin-top: 0;

            svg {
                fill: $tt-white;
            }
        }

        .tensix-grid {
            &.empty {
                position: absolute;
                z-index: -1;
            }

            display: grid;
            gap: 10px;

            .tensix {
                border: 1px solid $tt-black;
                background-color: $tt-grey-2;

                &.empty-tensix {
                    opacity: 0.3;
                }
            }
        }
    }
}
