// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use 'styles/definitions/colours' as *;

.tensor-visualisation-overlay {
    .bp6-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .loading-container {
        background-color: transparent;
    }

    .tensor-visualisation {
        background-color: $tt-grey-4;

        .title {
            display: flex;
            justify-content: space-between;
            margin-top: 0;

            svg {
                fill: $tt-white;
            }
        }

        .tensix-grid {
            display: grid;
            gap: 10px;

            .tensix {
                display: flex;
                flex-direction: column;
                border: 1px solid $tt-black;
                background-color: $tt-grey-2;
                max-width: 120px;

                &:hover {
                    transition: border-color 100ms linear;
                    border-color: $tt-yellow-tint-2;
                }

                &.active {
                    border-color: $tt-tensix-active;
                }

                &.empty-tensix {
                    opacity: 0.3;
                }
            }
        }

        .tensix-details {
            padding: 5px 0;

            .title {
                margin: 0;
            }

            .tensix-details-header {
                display: flex;
                justify-content: flex-end;

                svg {
                    fill: $tt-white;
                }
            }
        }
    }
}
