// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

.tensor-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    .title {
        margin-bottom: 0;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
