.toast-tensor-message {
    display: flex;
    align-items: center;
    gap: 5px;

    .memory-color-block {
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    .light {
        font-weight: 400;
    }
}
