// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@mixin perf-report-colours {
    .grey {
        color: #888;
    }

    .red {
        color: #f00;
    }

    .green {
        color: #0f0;
    }

    .yellow {
        color: #ff0;
    }

    .blue {
        color: #3ca4ff;
    }

    .orange {
        color: #ff8c00;
    }

    .magenta {
        color: #f0f;
    }

    .cyan {
        color: #0ff;
    }

    .white {
        color: #fff;
    }
}
