// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2026 Tenstorrent AI ULC

@mixin perf-chart-hint-typography {
    margin: 0 0 8px;
    font-style: italic;
    font-size: 12px;
}

@mixin perf-chart-clickable-cursor {
    .chart {
        cursor: pointer;
    }
}
