// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use '../definitions/colours' as *;

.home {
    display: flex;
    place-content: center center;
    margin-top: 100px;

    .bp5-button {
        margin: 0;
    }
}
