// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

.comparison-selectors {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}
