// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use '../definitions/colours' as *;

.container {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    gap: 10px;

    &.no-gap {
        gap: 0
    }

    &.no-wrap {
        flex-wrap: nowrap;
    }

    &.flex-column {
        flex-direction: column;
    }
}

.short-width {
    width: 270px;
}

.colour-container {
    .colour {
        height: 30px;
        width: 160px;

        &.g-2 {
            background-color: $tt-grey-2;
        }

        &.g-3 {
            background-color: $tt-grey-3;
        }

        &.g-4 {
            background-color: $tt-grey-4;
        }

        &.g-5 {
            background-color: $tt-grey-5;
        }

        &.g-6 {
            background-color: $tt-grey-6;
        }

        &.g-7 {
            background-color: $tt-grey-7;
        }

        &.b-1 {
            background-color: $tt-black;
        }

        &.w-1 {
            background-color: $tt-white;
        }
    }
}
