// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

/* Tenstorrent powerpoint theme */
$tt-purple: #786bb0;
$tt-background: #33333d;
$tt-off-background: #44444d;
$tt-slight-off-background: #383840;
$tt-very-dark-gray: #1c2127;
$tt-light-gray: #eeeee6;
$tt-medium-light-gray: #cbcbcb;
$tt-medium-gray: #909096;
$tt-dark-gray: #606066;

// New colours
$tt-white: #FFF;
$tt-black: #202020;
$tt-dark-grey: #363636;

// tt-purple
$tt-purple: #BCB3F7;
$tt-purple-tint-1: #D0C8FF;
$tt-purple-tint-2: #E2DEFC;
$tt-purple-accent: #7C68FA;
$tt-purple-shade: #4B456E;

// tt-red
$tt-red: #FF9E8A;
$tt-red-tint-1: #EAB1A5;
$tt-red-tint-2: #F4D8D2;
$tt-red-accent: #FA512E;
$tt-red-shade: #8D2914;

// tt-blue
$tt-blue: #7584E6;
$tt-blue-tint-1: #9CA8F2;
$tt-blue-tint-2: #CCD2F9;
$tt-blue-accent: #5164E0;
$tt-blue-shade: #252C5B;

// tt-yellow
$tt-yellow: #F6BC42;
$tt-yellow-tint-1: #F9D68E;
$tt-yellow-tint-2: #F5E2BA;
$tt-yellow-accent: #C2A261;
$tt-yellow-shade: #8B7039;

// tt-teal
$tt-teal: #74C5DF;
$tt-teal-tint-1: #9BDBF0;
$tt-teal-tint-2: #C7F1FF;
$tt-teal-accent: #3EB7DE;
$tt-teal-shade: #0D4D62;

// tt-green
$tt-green: #6FABA0;
$tt-green-tint-1: #92C9BF;
$tt-green-tint-2: #C7EFE8;
$tt-green-accent: #608C84;
$tt-green-shade: #103525;

// tt-sand
$tt-sand: #CDC2A6;
$tt-sand-tint-1: #E5D7B5;
$tt-sand-tint-2: #EEEAE0;
$tt-sand-accent: #A2987A;
$tt-sand-shade: #3A3433;

// tt-slate
$tt-slate: #737999;
$tt-slate-tint-1: #979DBD;
$tt-slate-tint-2: #EDEFF9;
$tt-slate-accent: #606891;
$tt-slate-shade: #101636;

// States
$tt-idle: #909096;
$tt-success: #9f0;
$tt-pending: #ffd500;
$tt-error: #ff3c00;
