// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2025 Tenstorrent AI ULC

@use 'sass:color';
@use './colours' as *;

// Fonts
$base-font: 'Arial Nova', arial, sans-serif;
$monospace-font: monospace;

// Breakpoints
$bp-large: 1300px;
$bp-medium: 1100px;

// Colours
// TODO: Temporary placing of these here - reconcile with usage in _blueprintjs.scss
$dark-button-background-base: $tt-grey-2;
$tt-dark-minimal-button-background-color-hover: color.adjust($dark-button-background-base, $lightness: 5%);

// NPE
$npe-highlight-src: #ff0;
$npe-highlight-dst: #ff4500;

// z-index scale
$z-index-below: -1;
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 5; // NPE only
$z-index-3: 10;
$z-index-4: 20; // NPE only
$z-index-5: 100;

// Component-specific variables
$active-transfer-width: 380px;
