// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.

@use 'sass:color';
@use './definitions/colours' as *;
@use "@blueprintjs/core/src/blueprint.scss" with (
    // $dark-button-background-color: $tt-slate,
    // $dark-button-background-color-hover: color.adjust($tt-slate, $lightness: -5%),
    // $dark-minimal-button-background-color-hover: rgba($tt-purple-accent, 20%),
    // $pt-dark-text-color
    $pt-dark-link-color: $tt-teal-accent,
    $control-checked-background-color: $tt-teal-accent,
    $control-checked-background-color-hover: color.adjust($tt-teal-accent, $lightness: -3%),
    $control-checked-background-color-active: color.adjust($tt-teal-accent, $lightness: -6%),
    $dark-progress-track-color: $tt-teal-shade,
    $dark-progress-head-color: $tt-teal-accent,
    // $dark-control-checked-background-color: #abc123,
    $pt-dark-icon-color: $tt-white,
    // "intent": (default, hover, active colors)
    // $button-intents: (
    //     "primary": (#abc123, #abc123, #abc123),
    //     "success": (#abc123, #abc123, #abc123),
    //     "warning": (#abc123, #abc123, #abc123),
    //     "danger": (#abc123, #abc123, #abc123)
    // ),
    // $pt-intent-colors: (
    //     "primary": $tt-purple,
    //     "success": red,
    //     "warning": red,
    //     "danger" : red,
    // ),
    // $pt-dark-intent-text-colors: (
    //     "primary": $tt-purple-accent,
    //     "success": $tt-green-accent,
    //     "warning": $tt-yellow,
    //     "danger" : $tt-red,
    // ),
    // $pt-dark-input-intent-box-shadow-colors: (
    //     "primary": #abc123,
    //     "success": #abc123,
    //     "warning": #abc123,
    //     "danger": #abc123,
    // )
);

// Default
.btn-default {
    background-color: $tt-sand-shade !important;

    &:hover {
        background-color: color.adjust($tt-sand-shade, $lightness: -5%) !important;
    }

    .bp5-icon {
        color: inherit !important;
    }

    &.bp5-minimal {
        background-color: transparent !important;
        color: $tt-slate-tint-2 !important;

        &:hover {
            background-color: rgba($tt-slate, 20%) !important;
        }
    }
}

// Primary
.btn {
    background-color: $tt-teal-shade !important;

    &:hover {
        background-color: color.adjust($tt-teal-shade, $lightness: -5%) !important;
    }

    &.bp5-minimal {
        background-color: transparent !important;
        color: $tt-teal !important;

        &:hover {
            background-color: rgba($tt-teal-accent, 20%) !important;
        }
    }
}

// Success
.btn-success {
    background-color: $tt-green-accent !important;

    &:hover {
        background-color: color.adjust($tt-green-accent, $lightness: -5%) !important;
    }

    &.bp5-minimal {
        background-color: transparent !important;
        color: $tt-green-tint-1 !important;

        &:hover {
            background-color: rgba($tt-green-accent, 20%) !important;
        }
    }
}

// Warning
.btn-warning {
    background-color: $tt-yellow !important;

    &:hover {
        background-color: color.adjust($tt-yellow, $lightness: -5%) !important;
    }

    &.bp5-minimal {
        background-color: transparent !important;
        color: $tt-yellow-tint-1 !important;

        &:hover {
            background-color: rgba($tt-yellow, 20%) !important;
        }
    }
}

// Danger
.btn-error {
    background-color: $tt-red-accent !important;

    &:hover {
        background-color: color.adjust($tt-red-accent, $lightness: -5%) !important;
    }

    &.bp5-minimal {
        background-color: transparent !important;
        color: $tt-red !important;

        &:hover {
            background-color: rgba($tt-red-accent, 20%) !important;
        }
    }
}
