// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent Inc.


@use 'sass:color';
@use './definitions/colours' as *;
@use "@blueprintjs/colors/lib/scss/colors" as *;

$dark-button-background-base: $tt-grey-2;
$dark-primary-background-base: $tt-purple-shade;
$dark-primary-intent-color: $tt-purple;
$dark-warning-background-base: $tt-yellow;
$dark-danger-background-base: $tt-red-accent;

@use "@blueprintjs/core/src/blueprint.scss" with (
    $dark-button-background-color: $dark-button-background-base,
    $dark-button-background-color-hover: color.adjust($dark-button-background-base, $lightness: -5%),
    $dark-minimal-button-background-color: $dark-button-background-base,
    $dark-minimal-button-background-color-hover: color.adjust($dark-button-background-base, $lightness: 5%),
    $pt-dark-link-color: $tt-teal-accent,
    $control-checked-background-color: $tt-teal-accent,
    $control-checked-background-color-hover: color.adjust($tt-teal-accent, $lightness: -3%),
    $control-checked-background-color-active: color.adjust($tt-teal-accent, $lightness: -6%),
    $dark-progress-track-color: $tt-teal-shade,
    $dark-progress-head-color: $tt-teal-accent,
    // $dark-control-checked-background-color: #abc123,
    $pt-dark-icon-color: $tt-white,
    // "intent": (default, hover, active colors)
    $button-intents: (
        "primary": ($dark-primary-background-base, color.adjust($dark-primary-background-base, $lightness: -5%), color.adjust($dark-primary-background-base, $lightness: -10%)),
        "success": ($green3, $green2, $green1),
        "warning": ($dark-warning-background-base, color.adjust($dark-warning-background-base, $lightness: -5%), $dark-warning-background-base),
        "danger": ($dark-danger-background-base, color.adjust($dark-danger-background-base, $lightness: -5%), $tt-red-shade)
    ),
    $pt-intent-colors: (
        "primary": $dark-primary-intent-color,
        "success": $tt-green,
        "warning": $dark-warning-background-base,
        "danger" : $tt-red,
    ),
    $pt-dark-intent-text-colors: (
        "primary": $dark-primary-intent-color,
        "success": $tt-green,
        "warning": $dark-warning-background-base,
        "danger" : $tt-red,
    ),
    $dark-navbar-background-color: transparent
);

// Overrides for BlueprintJS which cannot be done via SASS variables
.bp5-dark {
    .bp5-navbar {
        box-shadow: none;
    }

    .bp5-button {
        &.bp5-minimal {
            &.bp5-intent-primary {
                &:hover {
                    color: $tt-purple-tint-2;
                }

                &.bp5-active {
                    color: $tt-purple-tint-2;
                }
            }
        }
    }

}
