// SPDX-License-Identifier: Apache-2.0
//
// SPDX-FileCopyrightText: © 2024 Tenstorrent AI ULC

@use 'definitions/colours' as *;

.app-header {
    padding: 15px;

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            color: inherit;
            text-decoration: none;

            h1 {
                margin: 0;
            }
        }
    }
}

.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    background-color: $tt-grey-4;
    padding: 5px 15px;
    gap: 5px;

    .slider {
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .current-data {
        display: flex;
        gap: 20px;
    }
}
